{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'static/navbar.css' %}">
    <title>Navbar</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <h1>Real Estate</h1>
        </div>
        <div class="navbar-right">
            <a href="#" class="nav-btn">Home</a>
            <a href="#" class="nav-btn">Services</a>
            <a href="#" class="nav-btn">About Project</a>
            <a href="#" class="nav-btn">Testimonials</a>
            <a href="#" class="nav-btn">Contact</a>
        </div>
    </nav>
</body>
</html>
